---
import Layout from "../layouts/Layout.astro";
import Project from "../components/Project.astro";
import ProjectDetail from "../components/ProjectDetail.astro";
import "emailjs";

const startCareer = 2018;
const experience = new Date().getFullYear() - startCareer;
---

<Layout title="Kenny | Backend Developer">
  <main>
    <!--================ Start Home Banner Area =================-->
    <section class="home_banner_area" id="home">
      <div class="banner_inner">
        <div class="container">
          <div class="row">
            <div class="col-lg-8">
              <div class="banner_content">
                <h3 class="text-uppercase">Hello</h3>
                <h1 class="text-uppercase">I am Kenny</h1>
                <h5 class="text-uppercase">Professional Software Engineer</h5>
                <div class="d-flex align-items-center">
                  <a class="primary_btn" href="#contact"
                    ><span>Get In Touch</span></a
                  >
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="profile_img">
                <div class="outer-circle">
                  <img
                    class="img-fluid"
                    src="../../../public/img/kenny2.jpg"
                    alt=""
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--================ End Home Banner Area =================-->

    <!--================ Start About Us Area =================-->
    <section class="about_area" id="about">
      <div class="container">
        <div class="row justify-content-start">
          <div class="col-lg-5">
            <div class="about_img">
              <img src="../../../public/img/about-us.png" alt="" />
            </div>
          </div>

          <div class="offset-lg-1 col-lg-5">
            <div class="main_title text-left">
              <h2>
                let’s <br />
                Introduce about <br />
                myself
              </h2>
              <p>
                Enthusiastic about continuous growth and approachable in
                demeanor, I bring {experience}+ years of programming experience
                to the table. With a versatile background in developing websites
                and applications, I've embraced a diverse range of projects. I
                thrive on learning and adapting to new challenges, making me a
                valuable asset in the ever-evolving realm of programming. Let's
                collaborate on exciting ventures and turn ideas into reality
              </p>
              <a
                class="primary_btn"
                target="_blank"
                href="https://drive.google.com/file/d/1l87dkOZ5zBLmxMxkIHdBOEly6RF1BFwU/view?usp=sharing"
                ><span>Download CV</span></a
              >
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--================ End About Us Area =================-->

    <!--================ Start My Hobbies Area =================-->
    <section class="hobbies" id="hobbies">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8 text-center">
            <div class="main_title">
              <h2>My Hobbies</h2>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="image-container">
              <div class="image-square">
                <img
                  src="../../../public/img/hobbies/badminton.png"
                  alt="Badminton"
                />
              </div>
              <h5>Badminton</h5>
            </div>
            <div class="image-container">
              <div class="image-square">
                <img
                  src="../../../public/img/hobbies/invest.png"
                  alt="Invest"
                />
              </div>
              <h5>Invest</h5>
            </div>
            <div class="image-container">
              <div class="image-square">
                <img src="../../../public/img/hobbies/book.jpg" alt="Novel" />
              </div>
              <h5>Novel</h5>
            </div>
          </div>
        </div>
      </div>
      <!--================ End My Hobbies Area =================-->

      <!--================ Start Projects Area =================-->
      <section class="projects_area" id="projects">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
              <div class="main_title">
                <h2>My Projects</h2>
              </div>
            </div>
          </div>

          <div class="row">
            <Project
              title="Tokopedia"
              img="../../../public/img/projects/tokopedia.png"
              about="Established in 2009, Tokopedia is a prominent Indonesian e-commerce platform that functions as a marketplace for individuals and small businesses. As of 2022, the platform is exploring a potential merger with Gojek to create a comprehensive tech ecosystem. My role involves contributing to the development of the Official Store division, focusing on enhancing the platform's user experience and functionality."
              stacks={[
                "HTML",
                "CSS",
                "JS",
                "Go",
                "Postgre",
                "gRPC",
                "NSQ",
                "GraphQL",
                "GCP",
              ]}
              website="https://www.tokopedia.com/"
              github="Private"
            />

            <Project
              title="KyAnimeList"
              img="../../../public/img/projects/kyAnimeList.png"
              about="KYanimeList is a website designed for exploring comprehensive anime data and tracking airing schedules. Developed as a personal project, it serves as a learning platform for honing skills in utilizing Angular and TypeScript. This project allows me to delve into the intricacies of web development while providing a valuable resource for anime enthusiasts to discover information about their favorite shows and stay updated on airing schedules"
              stacks={["AngularJS", "JS", "TS", "CSS"]}
              website=""
              github="https://github.com/kenny-dkvv/KY-anime-list"
            />

            <Project
              title="Pokemon Wiki"
              img="../../../public/img/projects/pokemon-wiki.png"
              about="The Pokemon Wiki is a personal website designed to provide comprehensive Pokemon data. The primary goal of developing this site is to acquire practical experience in data fetching through GraphQL (GQL), employing ReactJS for enhanced interactivity, and implementing a range of front-end features. These features include a special emphasis on Search Engine Optimization (SEO), the integration of workers for improved performance, and the utilization of libraries like Emotion CSS to enhance the site's styling and visual appeal. This project serves as a valuable learning opportunity in mastering various technologies and best practices within the web development landscape"
              stacks={[
                "HTML",
                "CSS",
                "JS",
                "GraphQL",
                "ReactJS",
                "Emotion CSS",
              ]}
              website=""
              github="https://github.com/kenny-dkvv/pokemon-wiki"
            />

            <Project
              title="Babaplastindo"
              img="../../../public/img/projects/babaplastindo.png"
              about="Babaplastindo is an e-commerce website constructed with a technology stack incorporating ReactJS for the frontend and Laravel for the backend. As a backend engineer, my responsibilities encompass designing the data model architecture and crafting RESTful APIs to fulfill customer requirements. This includes creating endpoints for tasks such as showcasing catalogs with filtering options, managing product testimonies, and providing data for the landing page. Through these contributions, I ensure the seamless functioning of the backend, enabling a smooth and user-friendly experience for customers navigating the Babaplastindo e-commerce platform"
              stacks={["PHP", "Laravel", "ReactJS", "MySQL"]}
              website="https://www.babaplastindo.com"
              github="Private"
            />

            <Project
              title="Babaplastindo Admin"
              img="../../../public/img/projects/adminbabaplastindo.png"
              about="I've developed an admin website designed for efficient management of customers, catalogs, and reviews. This comprehensive platform allows seamless file uploads, automatically applying watermarks to images for enhanced security. Additionally, it provides statistical insights into product performance, facilitating informed decision-making. The website goes further by recording transactions, ensuring a complete overview of the business operations. With a robust authentication feature in place, administrators can securely access and manage all aspects of the e-commerce platform, ensuring a smooth and secure experience."
              stacks={["PHP", "Laravel", "CSS", "ReactJS", "JS", "MySQL"]}
              website="https://admin.babaplastindo.com/"
              github="Private"
            />

            <Project
              title="SuperWear"
              img="../../../public/img/projects/SuperWear.png"
              about="SuperWear represents a personal project focused on creating an e-commerce website dedicated to selling clothing items. The primary objective of this endeavor is to delve into and master the utilization of Laravel Blade, a templating engine, and Bootstrap, a front-end framework. Through SuperWear, I aim to gain hands-on experience in seamlessly integrating these technologies to develop an aesthetically pleasing and functional e-commerce platform. This project serves as a valuable learning opportunity to refine skills in web development, particularly in the context of Laravel and Bootstrap, enhancing my ability to create engaging and responsive online shopping experiences."
              stacks={[
                "PHP",
                "Laravel",
                "Blade",
                "CSS",
                "Bootstrap",
                "JS",
                "jQuery",
                "MySQL",
              ]}
              website="https://report.educastudio.com/"
              github=""
            />

            <Project
              title="JustInAnime"
              img="../../../public/img/projects/JustInAnime.png"
              about="JustInAnime stands as a personal project designed for tracking anime release dates and checking ratings and reviews. The primary objective of this development initiative is to acquire foundational experience in mobile app development using Kotlin, a programming language for Android applications. Additionally, the project involves the implementation of Firebase for authentication, offering insights into integrating backend services seamlessly. Through JustinAnime, I aim to establish a solid understanding of the mobile app development process, specifically within the Kotlin and Firebase ecosystem, as well as gain practical experience in creating user-friendly interfaces for accessing anime information."
              stacks={[
                "Kotlin",
                "Android Studio",
                "Firebase",
                "NoSQL",
                "SQLLite",
              ]}
              website=""
              github="Private"
            />

            <Project
              title="Barbarkos"
              img="../../../public/img/projects/barbarkos.png"
              about="Barbarkos is a personal responsive web application created with the goal of mastering both ReactJS and Laravel. Drawing inspiration from the Mamikos website, it serves as a platform connecting boarding house seekers and renters. The application is feature-rich, implementing technologies like WebSocket and Redis for real-time chat functionality. Additionally, it incorporates the Leaflet JavaScript library for interactive mapping features. Through the development of Barbarkos, I aim to gain practical experience in building dynamic, responsive interfaces and seamlessly integrating frontend technologies with the Laravel backend, enhancing my proficiency in full-stack web development."
              stacks={[
                "Laravel",
                "HTML",
                "CSS",
                "JS",
                "ReactJS",
                "Websocket",
                "Leaflet",
                "Redis",
                "MySQL",
              ]}
              website=""
              github="Private"
            />

            <Project
              title="Multimodal Approach for Emotion Recognition using Deep Learning"
              img="../../../public/img/projects/Multimodal Approach Emotion Recognition.png"
              about="Multimodal Approach for Emotion Recognition is my master thesis project. I built an AI capable of recognizing emotion based on their voice, their facial expression, and their motion capture. I utilize Python programming language along with several preprocessing libraries, with TensorFlow to process the data"
              stacks={["Python", "Tensorflow", "Google Colab Notebook"]}
              website="http://www.icicel.org/elv3/papers/PAPE7605b25596a542a8acecc16fa33d18ba/158532e77fa94e6b8c5c78eaa292730d.pdf"
              github="Private"
            />

            <Project
              title="Gyararun"
              img="../../../public/img/projects/gyararun.png"
              about="Gyararun is a desktop game application constructed with Java. The primary objective of this project is to delve into various algorithms, including the Binary Space Tree algorithm, and gain hands-on experience in implementing sprites for animation. The application is developed using Java Swing and features a panel canvas to facilitate the game's graphical interface. Through Gyararun, I aim to enhance my understanding of game development concepts, algorithms, and the utilization of Java Swing for creating interactive and visually engaging desktop games."
              stacks={["Java", "Algorithm", "Swing", "GUI"]}
              website=""
              github="Private"
            />

            <Project
              title="KYSweeper"
              img="../../../public/img/projects/KySweeper.png"
              about="KYSweeper is a personal game project developed in Java, drawing inspiration from Minesweeper and adhering to its rules. The primary goal of this game is to facilitate personal development in Java programming, encompassing the exploration and mastery of various libraries such as AWT and Swing. By undertaking the development of KYSweeper, I aim to deepen my understanding of Java, specifically in the context of graphical user interface (GUI) development, game logic, and leveraging libraries for creating interactive and visually appealing applications."
              stacks={["Java", "Algorithm", "Swing", "GUI"]}
              website=""
              github="https://github.com/kenny-dkvv/MinesKY-Sweeper"
            />
          </div>
        </div>
      </section>
      <!--================ End Projects Area =================-->

      <!--================ Start Contact Area =================-->
      <section class="contact-area" id="contact">
        <div class="container">
          <div class="row justify-content-center align-items-center">
            <div class="col-12 col-sm-12 col-md-8">
              <div class="main_title">
                <h2>CONTACT ME</h2>
              </div>

              <div class="card p-4 shadow border-0">
                <form id="gform" method="POST">
                  <div class="form-group">
                    <label for="name">Email:</label>
                    <input
                      id="form-email"
                      class="form-control col-12"
                      placeholder="Enter Your Email"
                      type="email"
                      name="email"
                      required
                    />
                  </div>

                  <div class="form-group">
                    <label for="name">Name:</label>
                    <input
                      id="form-name"
                      class="form-control col-12"
                      placeholder="Enter Your Name"
                      type="text"
                      name="name"
                      required
                    />
                  </div>

                  <div class="form-group">
                    <label for="name">Message:</label>
                    <textarea
                      id="form-message"
                      class="form-control col-12"
                      placeholder="Enter Your Message"
                      rows="8"
                      name="message"
                      required></textarea>
                  </div>

                  <button
                    class="primary_btn float-right mt-1 btn-block"
                    type="submit"
                  >
                    <span>Send Message</span>
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--================ End Newsletter Area =================-->

      <ProjectDetail />
    </section>
  </main>

  <script
    is:inline
    type="text/javascript"
    src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"
  ></script>

  <script type="text/javascript">
    (function () {
      emailjs.init("BmrOr-Xyw_YZYm9Sv");
    })();
  </script>
</Layout>
